<Header class="header">
    <nav class="nav-bar">
        <ul>
            <li><a href="/videos">Vids</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/articles">Articles</a></li>
        </ul>
    </nav>
</Header>

